*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem - 10px
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }

  @include respond(tab-landscape) {
    font-size: 56.25%; // 1rem - 9px
  }

  @include respond(tab-portrait) {
    font-size: 50%; // 1rem = 8px
  }
}
